<template name="chat">
    {{#if currentUser}}
    <input type="button" class="inputbg" value="Salir" id="logout_btn" style="float:right;" />
    {{/if}}
    <div class="chat-content">
        <ul>
        {{#each mesages}}
            <li class="chat-conversation"> <span class="chat-author"><img src="{{avatarUrl}}"> {{userName}}:</span>
                {{mesage}}
            </li>
            <div class="clear"></div>
        {{/each}}
        </ul>
    </div>
    <div class="searchDiv">
        {{#if currentUser}}
            <input type="text" class="inputbg" placeholder="Únete a la conversación!" id="chat_textfield" />
        {{else}}
            <input type="button" class="inputbg" value="Login con twitter" id="login_btn" />
        {{/if}}
    </div>
</template>