<template name="footer">
    <div id="fullwidth_footer_bottom">
        <!-- Start Footer Bottom Container -->
        <div class="container_12">
            <!-- Start Copyright -->
            <div class="grid_8 copyright">
                <p class="rights">Copyright 2013 by
                    <a href="index.html" title="Aprende JS">Aprende JS</a>. All rights reserved.</p>
            </div>
            <!-- Copyright END -->
            <!-- Start Social Footer -->
            <div class="grid_4">
                <ul class="social_bookmarks_footer">
                    <li class="twitter">
                        <a href="#" class="" title="Twitter">Twitter</a>
                    </li>
                    <li class="facebook">
                        <a href="#" class="" title="Facebook">Facebook</a>
                    </li>
                    <li class="rss">
                        <a href="#" class="" title="RSS">RSS Feed</a>
                    </li>
                </ul>
            </div>
            <!-- Social Footer END -->
        </div>
        <!-- Footer Bottom Container END -->
    </div>
    <!-- Footer Bottom END -->
</template>