<template name="teaser">
    <div class="container_12">
        <hr class="grid_12"></hr>
    </div>
    <!-- Header Break Line END -->
    <div class="clear"></div>
    <!-- CLEAR -->
    <!-- Start Teaser -->
    <div class="container_12 ">
        <!-- Start Centered Text -->
        <div class="grid_12 middle">
            {{#if streaming}}
                <!-- Heading -->
                <h1 class="heading">El título del tema sobre el que estamos hablando</h1>
            <!-- Subheading -->
            <!-- Este mensaje debería salir solo cuando transmitimos en vivo! -->   
            <span class="subhead">Ahora mismo estamos transmitiendo en vivo! Participa con nosotros mediante twitter o el Chat.</span>
            {{else}}
                <h1 class="heading">Aqui aprenderas de todo!!</h1>
            {{/if}}
            

        </div>
        <!-- Centered Text END -->
    </div>    
</template>